#sheetOptions {
    
    #settingsForm {

        fieldset {
            border: none;
            margin-bottom: 20px;

            .formGroup {
                display: grid;
                gap: 0;
                margin-bottom: 20px;

                label {
                    font-weight: 900;
                    margin-top: 5px;
                    display: grid;
                    gap: 10px;
                    grid-template-columns: auto 1fr;
                    text-wrap: nowrap;
                }

                input, select {
                    font-size: 12px;
                }

            }

            &.formSquare {
                border: 1px solid;
            }
        }

        .button {
            margin: 5px;
        }
    }
}