.page.Builder {
    .content {
        display: grid;
        grid-template-columns: 450px 3fr 1fr;

        h2 {
            margin-bottom: 20px;
        }

        .sidebar {
            height: 85vh;
            width: 400px;
            padding-left: 20px;
            z-index: 10;

            .picker {
                background: #333;
                border: 1px solid #666;
                border-radius: 10px;
                padding: 10px;
                height: 100%;
                overflow: auto;

                .item {
                    position: relative;
                    border-bottom: 2px solid grey;
                    padding-block: 10px;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    row-gap: 0;
                    column-gap: 10px;

                    .label {
                        flex: 1 0 100%;
                        font-size: 1rem;
                        font-variant: small-caps;
                        line-height: 1em;
                        padding-bottom: 10px;
                    }

                    .draggable-slot {
                        border-radius: 5px;
                        position: relative;
                        height: 100px;
                        display: flex;
                        flex: 1 1 80%;

                        textarea {
                            width: 100%;
                            height: 100%;
                        }

                        .addItem {
                            flex: 1 0 auto;
                        }
                    }
                }
            }

            .item {

                input, textarea {
                    display: block;
                    pointer-events: none;
                    resize: none;
                }
            }
        }

        #create {
            overflow-y: auto;
            height: 96.8vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            &::-webkit-scrollbar {
                width: 20px;
                z-index: 2;
            }

            &::-webkit-scrollbar-thumb {
                width: 20px;
                background-color: #dddddd98;
                border-right: 7px solid #2C3E50;
            }

            .drop {
                border: 1px solid coral;
                width: fit-content;
                margin-bottom: 20px;
                background: white;
                box-shadow: 0 5px 15px #000;

                .react-grid-item {

                    .deleteItem {
                        background: unset;
                        border: unset;
                        color: white;
                        font-weight: 900;
                        filter: drop-shadow(1px 1px 2px black);
                        position: absolute;
                        top: 0;
                        right: 0;
                        visibility: hidden;
                        z-index:10;
                    }

                    .react-resizable-handle {
                        visibility: hidden;
                    }

                    &:is(:hover, :focus, :focus-within) {
                        outline: 1px dotted gray;
                        outline-offset: 2px;

                        .deleteItem, .react-resizable-handle {
                            visibility: visible;
                        }
                    }

                    &.react-draggable-dragging {
                        box-shadow: 0 5px 15px gray;
                    }

                    &.react-grid-placeholder {
                        background-color: #CCC
                    }
                }
            }
        }
    }
}

@media print {
    *:not(:has(.drop), .drop, .drop *) {
        display: none;
    }
    
    .drop {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        border: unset !important;
        border-radius: 0 !important;
    }
}