.page.Builder {
    .content {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        .sidebar {

            height: 85vh;
            width: 400px;
            padding-left: 20px;
            z-index: 10;

            .picker {
                background: #333;
                border: 1px solid #666;
                border-radius: 10px;
                padding: 10px;
                height: 100%;
                overflow: auto;

                .item {
                    position: relative;
                    border-bottom: 2px solid grey;
                    padding-block: 10px;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    row-gap: 0;
                    column-gap: 10px;

                    .label {
                        flex: 1 0 100%;
                        font-size: .7em;
                        font-variant: small-caps;
                        line-height: 1m;
                    }

                    .component {
                        border: 1px dotted gray;
                        border-radius: 5px;
                        position: relative;
                        height: 100px;
                        flex: 1 1 80%;
                        textarea {
                            width: 100%;
                            height: 100%;
                        }
                        .addItem {
                            flex: 1 0 auto;
                        }
                    }

                    

                    
                }
            }

            .item {

                textarea {
                    height: 90%;
                    resize: none;
                }

                input, textarea {
                    display: block;
                    pointer-events: none;
                }
            }
        }

        #create {
            overflow-y: scroll;
            height: 96.8vh;

            .drop {
                border: 1px solid coral;
                width: fit-content;
                border-radius: 7px;
                margin-bottom: 20px;
                background: white;
                color: black;

                .react-grid-layout {}

                .react-grid-item {
                    position: relative;
                    display: grid;
                    place-items: center;
                    background-color: white;
                    box-sizing: border-box;

                    .deleteItem {
                        background: unset;
                        border: unset;
                        color: white;
                        font-weight: 900;
                        filter: drop-shadow(1px 1px 2px black);
                        position: absolute;
                        top: 0;
                        right: 0;
                        visibility: hidden;
                    }

                    .react-resizable-handle {
                        visibility: hidden;
                    }



                    &:is(:hover, :focus, :focus-within) {
                        border: 1px dotted gray;
                        .deleteItem, .react-resizable-handle {
                            visibility: visible;
                        }
                    }

                    input[type="text"] {
                        width: 90%;
                        margin-left: 5%;
                    }

                    input[type="number"] {
                        width: 5ch;
                    }

                    textarea {
                        resize: none;
                        width: 100% !important;
                        height: 100% !important;
                        border: none;
                    }
                    &.react-draggable-dragging {
                        box-shadow: 0 5px 15px gray;
                    }

                    &.react-grid-placeholder {
                        background-color: #CCC
                    }
                }
            }
        }

        #sheetSettings {
            padding-inline: 20px;
            background: lightgrey;
            height: 96.8vh;
            color: black;

            .formGroup {
                display: grid;
                gap: 0;
                margin-bottom: 20px;

                label {
                    font-weight: 900;
                    margin-top: 5px;
                }
            }
        }

    }
}







@media print {
    *:not(:has(.drop), .drop, .drop *) {
        display: none;
    }

    .drop {
        position: fixed;
        top: 0;
        left: 0;
        border: unset;
        border-radius: 0;

        .react-grid-item {
            .react-resizable-handle {
                display: none;
            }
        }

    }
}