@font-face {
    font-family: 'CodeLight';
    src: url('../assets/fonts/CODE\ Light.otf') format('opentype');
}

@font-face {
    font-family: 'CodeBold';
    src: url('../assets/fonts/CODE\ Bold.otf') format('opentype');
}


:root {
    --tealLight: #1ABC9C;
    --teal: #16A085;
    --greenLight: #2ECC71;
    --green: #27AE60;
    --blueLight: #3498DB;
    --blue: #2980B9;
    --purpleLight: #9B59B6;
    --purple: #8E44AD;
    --steelLight: #34495E;
    --steel: #2C3E50;
    --yellowLight: #F1C40F;
    --yellow: #F39C12;
    --orangeLight: #E67E22;
    --orange: #D35400;
    --redLight: #E74C3C;
    --red: #C0392B;
    --silverLight: #ECF0F1;
    --silver: #BDC3C7;
    --greyLight: #95A5A6;
    --grey: #7F8C8D;
}


html, body, #reactRoot {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


*:not(p, h1, h2, h3, h4, h5, a, dl, dt, ol, ul, li, td, th, input, textarea, :has(p, h1, h2, h3, h4, h5, a, dl, dt, ol, ul, li, td, th, input, textarea)) {
    user-select: none;
}

button:disabled {
    cursor: not-allowed;
}

.page {
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-inline: auto;
    color: white;
    font-family: 'Open Sans';

    main.content {
        margin-top:29px;
    }
}



.button {
    display: inline-block;
    padding: 0.6em 1.2em;
    cursor: pointer;
    background-color: var(--green);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 800;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin: 5px;

    &:hover {
        background-color: var(--greenLight);
    }

    &:active {
        background-color: var(--greenLight);
    }

    &:disabled {
        background-color: var(--silver)  !important;
    }
}