.drop {
     border: 1px solid coral;
    .react-grid-layout {
       
    }
    

    .react-grid-item {
        display:grid;
        place-items:center;
        background: #ff7f503d;
        border: 1px solid red;
    }
}