.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    background-color: #333;
    height: 29px;

    * {
        user-select: none;
    }

    .navSection {
        display: flex;
        align-items: center;
        padding-inline: 10px;

        .navItem {
            height: 100%;
            text-decoration: unset;
            border-right: 1px solid #666;
            background: none;
            color: white;
            text-align: center;
            text-transform: uppercase;
            transition: background-color .25s ease;
            padding: 8px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 11px;
            font-weight: 800;
            line-height: 13px;


            &:first-child {
                border-left: 1px solid #666;
            }

            &:last-child {
                border: unset;
            }

            &:hover {
                background-color: #666;
            }

            svg {
                height: 15px;
                margin-right: .3em;
                cursor: pointer;
                fill: white;
            }

            span.name {
                font-family: 'CodeLight';
                font-size: 16px;

                span.crit {
                    font-family: 'CodeBold';
                }
            }

            &.logo {
                font-family: 'CodeBold';
                font-size: 14px;
                border: unset;
            }
        }
    }



}